body {
    font-family: Arial, sans-serif;
    background-color: #fef6e4; /* Светлый фон */
    color: #4b3c22; /* Темный текст */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #e67e22; /* Оранжевый цвет */
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между элементами формы */
}

label {
    font-size: 1.1em;
    color: #5e4b3a; /* Шоколадный цвет */
}

input[type="date"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #d1b69e; /* Светло-коричневый рамка */
    border-radius: 5px;
    font-size: 3em;
}

input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #e67e22; /* Оранжевая рамка при фокусе */
    outline: none;
}

button {
    background-color: #e67e22; /* Оранжевый цвет кнопки */
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c76a19; 
}




header {
    background-color: rgba(255, 115, 0, 0.521); 
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo {
    font-size: 1.5em;
    color: #f35810; 
}

.header-buttons {
    display: flex; /* Создаем flex-контейнер для кнопок */
    gap: 20px; /* Отступ между кнопками */
}

.login-button-login, .login-button-auth {
    background-color: #e67e22; /* Оранжевая кнопка */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px; /* Закругленные углы кнопки */
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.login-button-login:hover, .login-button-auth:hover {
    background-color: #c76719; /* Темнее оранжевый при наведении */
}





#description {
  min-height: 60px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}


footer {
  padding: 10px;
  width: 100%;
  font-style: italic;
  text-align: center;
  background: rgba(209, 139, 10, 0.74);
  color: #fff;
  position: fixed;
  font-size: 36px;
  bottom: 0.1px;
  left: 0;
  z-index: 10;
}


.navbar-text {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1em;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
